# Python
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Environment 
.env

# LaTeX 
*.aux
*.log
*.out
*.toc
*.pdf

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

#extra files 
callllm.txt
rawdata.txt 